In [1]:
import sys
!{sys.executable} -m pip install xgboost

Requirement already satisfied: xgboost in c:\users\daniel\anaconda5\lib\site-packages (1.7.4)
Requirement already satisfied: scipy in c:\users\daniel\anaconda5\lib\site-packages (from xgboost) (1.7.1)
Requirement already satisfied: numpy in c:\users\daniel\anaconda5\lib\site-packages (from xgboost) (1.20.3)

In [2]:
import os
import numpy as np
from sklearn import preprocessing
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import StackingRegressor
from sklearn.metrics import make_scorer
from sklearn.model_selection import GridSearchCV
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor
from string import punctuation
from tqdm.notebook import tqdm
from collections import Counter
import pickle

In [3]:
# read the dataset
data=pd.read_csv("data.csv")
data.head()

,id,??,??.1,??.2,??.3,??.4,??.5,??.6,WI,NTL_mean,road,dem
0,BD201800000001,0.0,0.00000,1.07316,0.0,67.40007,0.0,9.58347,1.931034483,0.249878,6.57,9.480418
1,BD201800000002,0.0,0.00000,0.00000,0.0,99.99850,0.0,0.00000,2.066666667,0.280811,25.08,80.452229
2,BD201800000003,0.0,0.57550,2.44964,0.0,80.76384,0.0,16.20955,2.896551724,0.343100,2.43,11.164286
3,BD201800000004,0.0,2.16176,5.88866,0.0,89.97851,0.0,1.96962,2.8,0.362363,17.34,2.992126
4,BD201800000005,0.0,0.00000,2.65495,0.0,90.14304,0.0,7.20052,2.517241379,0.284135,13.64,6.064286

In [7]:
columns = [
                '??', '??.1', '??.2', '??.3', '??.4', '??.5',
                '??.6', 'WI','NTL_mean','road','dem'
            ]

In [8]:
# Create empty lists to store data
x = []
y = []
 # Separate the features and labels
X = data[columns[:-1]]
Y = data[columns[-1]]
# Append the features and labels as arrays to the x and y lists
x.append(np.array(X, dtype='float32'))
y.append(np.array(Y, dtype='float32'))

# Combine the feature and label arrays into a single array
x = np.concatenate(x, axis=0)
y = np.concatenate(y, axis=0)

# Convert the feature array to a list
X = x.tolist()

# Print the shapes of the arrays for verification
print("X length:", len(X))
print("y shape:", np.shape(y))

ValueError: could not convert string to float: ''